.body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}
.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
header,
footer {
  background-color: rgb(133, 150, 150);
  line-height: 5rem;
  padding: 0 1rem;
}
main,
nav,
aside {
  padding: 1rem;
}
footer {
  line-height: 5rem;
}

.content {
  display: flex;
  text-align: center;
  margin: 20px;
}
.imgPetit {
  width: 200px;
  height: 200px;
  border-radius: 250px;
  padding: 20px;
}
.imgGran {
  width: 500px;
  height: 500px;
  border-radius: 250px;
}
.imgnull {
  display: none;
}

/* css comptador */
.marc {
  display: flex;

  background-color: rgb(147, 151, 158);
  width: 200px;
  height: 400px;
  border: 2px solid black;
}
.display {
  background-color: rgb(246, 246, 157);
  border: 2px solid black;
  width: 90%;
  height: 10%;
}

.txtp {
  font-size: 12px;
}
.txtl {
  display: none;
}

.txt {
  font-size: 12px;
}
.txt2 {
  display: none;
}
